# Visual Studio
.vs/
*.user
*.suo
*.sln.metaproj
*.sln.metaproj.user

# Build folders (lokalni build folderi i temp fajlovi)
Debug/
Release/
x64/
x86/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt

# Misc
*.log
*.tlog
*.pdb
*.ilk
*.ipch
*.opendb
*.VC.db

# Packages folder: NE IGNORISATI, pošalji ceo na GitHub
!packages/
!packages/**
