# Visual Studio
.vs/
*.user
*.suo
*.sln.metaproj
*.sln.metaproj.user

# Build folders (ovo sada možemo ignorisati samo lokalne build foldere)
Debug/
Release/
x64/
x86/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt

# Misc
*.log
*.tlog
*.pdb
*.ilk
*.ipch
*.opendb
*.VC.db

# INCLUDE PACKAGES BINARIES
!packages/**/lib/**/*.lib
!packages/**/lib/**/*.dll
